<a href="https://colab.research.google.com/github/ahmedmshakil/problemSolvingDSA/blob/main/cse203_01L.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Colab file for the 3rd class, Monday, 27/5/24**

In [ ]:
print("hello , this is the colab file for ds-10")

hello , this is the colab file for ds-10

In [ ]:
i = 0
while i< 10:
  print(i)
  continue

In [ ]:
for i in range(10):
  if i % 2:
    continue
  print(i)
  i +=1

0
2
4
6
8

In [ ]:
for i in range(5):
  for i in range(5):
    print('*', end = ' ')
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

**Concept of oop , how class work and method work**

- field
- attribute
- property

class is a design , object is a method
reference is actual veriable that we use in a class
 int{ } , its a class
 a=10
 b=10
 c=a

 where 10 is the object and a,b,c is the reference

 object is always unique but reference may not be unique

 #cpython and jpython

 #reference learning form pythontutor.com

 mid question
 1. basic python , a. output tracing b. modify -10 marks
 2. linked list - 10 marks
 3. stake queue - 10 marks

 we working more on reference over object.

In [ ]:
class info:
  pass

In [ ]:
a = info() # its a class
a.name = 'shakil'
a. dept = "CSE"

In [ ]:
print(a.name, a.dept)

shakil CSE

In [ ]:
class info:
  def __init__(self, name, dept)

# 1. write a program to determine whether a given number is a prime or not.

  Example:
      - 5 -> Prime
      - 39 -> Not Prime
2. Write a program that lists all factor of a given number seperated by a comma.

  Example:
     - 12 -> 1, 2, 3, 4, 6, 12
     - 17 -> 1, 17

In [ ]:
number = int(input("Enter the number: "))

def check_prime(number):
    if number <= 1:
        return False
    for i in range ()

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

number = int(input("Enter a number: "))

if is_prime(number):
    print(f"{number} -> Prime")
else:
    print(f"{number} -> Not Prime")

Enter a number: 39
39 -> Not Prime

In [ ]:
def list_factors(number):
    factors = []
    for i in range(1, number + 1):
        if number % i == 0:
            factors.append(i)
    return factors

# Example numbers to list factors
numbers = []

# Iterate through the example numbers and print their factors
for num in numbers:
    factors = list_factors(num)
    print(f"{num} -> {', '.join(map(str, factors))}")

12 -> ,

In [ ]:
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

num = 320

print_factors(num)
def list_factors(number):
    factors = []
    for i in range(1, number + 1):
        if number % i == 0:
            factors.append(i)
    return factors

# Input from the user
num = int(input("Enter a number to list its factors: "))

# Get the list of factors
factors = list_factors(num)

# Print the factors separated by a comma
print(f"{num} -> {', '.join(map(str, factors))}")

In [ ]:
def list_factors(number):
    factors = []
    for i in range(1, number + 1):
        if number % i == 0:
            factors.append(i)
    return factors


num = int(input("Enter a number: "))


factors = list_factors(num)


print(f"{num} -> {', '.join(map(str, factors))}")

In [ ]:
n = int(input())

isPrime True

if n == 1:
  isPrime False
else:
  for i in range (2, n)
      if n % i == 0:

if n = 1:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

In [ ]:
num = int(input())
def is_prime(n, i=2):
    if n <= 2:
        return n == 2
    if n % i == 0:
        return False
    if i * i > n:
        return True
    return is_prime(n, i + 1)

if is_prime(num):
    print("Prime")
else:
    print("Not Prime")

19
Prime

**29th May, 2024**
Ds Theory

In [ ]:
n = int(input())

for i in range(n):
  for j in range(n):
    if i >= j :
      print('*' , end = ' ')
    else:
      print(' ', end = ' ')


  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
#2
def all_even():
  for item in list:
    if item % 2 != 0:
          return Flase
    return True

**student enrolled in a course**

In [ ]:
class course:
  def __init__(self, course_id, credits, grade_point = 0.0):
    self.course_id = course_id
    self.credits = credits
    self.grade_point = grade_point
    self. is_complete = False


  def __str__(self):
    return f"course({self.course_id} - {self.credits} - {self.grade_point} - {self.is_complete})"

In [ ]:
class student:
  def __init__(self, id, name):
    self.id = id
    self.name = name
    self.courses = []

In [ ]:
s1 = student('2120290', 'shakil')

In [ ]:
c1 = course('cse203', '4')

In [ ]:
s1.courses.append(c1)

In [ ]:
c1.grade_point = 3.7
c1.is_complete = True

In [ ]:
print(s1.courses[0])

course(cse203 - 4 - 3.7 - True)

- shallow copy
- reference copy (python or modern language use the referencewhat is copy)